<h1>
  Lista de projetos
  <button class="my-task-btn" (click)="viewModalEmit()">
    <span class="material-symbols-outlined icon">add</span>Adicionar
  </button>
</h1>
<div class="box-projetos">
  <ng-container *ngFor="let project of listProjects">
    <section>
      <p class="actions">
        <span
          class="material-symbols-outlined icon"
          (click)="delete(project.projectId)"
          >delete</span
        ><span
          class="material-symbols-outlined icon"
          (click)="editProject(project)"
          >edit</span
        >
      </p>
      <h4>
        Nome: <span>{{ project.name }}</span>
      </h4>

      <h4>
        Descrição: <span>{{ project.description }}</span>
      </h4>

      <h4>
        Data de criação:
        <span>{{ project.dateCreate | date : "dd/MM/yyyy" }}</span>
      </h4>

      <h4>
        Data de Atualização:
        <span>{{ project.dateUpdate | date : "dd/MM/yyyy" }}</span>
      </h4>

      <button
        class="my-task-btn full-width"
        (click)="viewTaskEmit(project.projectId)"
      >
        Minhas tarefas
      </button>

      <div *ngIf="viewTaksProjectId === project.projectId">
        <button class="task-add-btn full-width" (click)="addTask()">
          <span class="material-symbols-outlined icon">add</span>
          Adicionar tarefa
        </button>
        <ng-container *ngFor="let tarefa of project.tasks">
          <app-card-task
            (viewModalTask)="showDadosTask($event.taskId, $event.projetoId)"
            [tarefa]="tarefa"
          ></app-card-task>
        </ng-container>
      </div>
    </section>
  </ng-container>
</div>

<div *ngIf="viewModalTask" class="modal-backdrop">
  <app-task-modal
    (close)="viewModalTask = false"
    [taskForm]="taskForm"
    [task]="task"
    [projectId]="projectId"
  ></app-task-modal>
</div>

<div *ngIf="viewModal" class="modal-backdrop">
  <app-project-modal
    (close)="viewModal = false"
    [projectForm]="projectForm"
    [project]="project"
    [isEditing]="isEditing"
  ></app-project-modal>
</div>
