<article (click)="viewModal = true" class="container-task">
  <div id="first-line">
    <p>
      Titulo: <span>{{ tarefa.titulo }}</span>
    </p>
    <span class="status" [ngClass]="'status--' + tarefa.status">{{
      tarefa.status.toLowerCase()
    }}</span>
    <p>
      Data criação: <span>{{ tarefa.dataCriacao | date : "dd/MM/yyyy" }}</span>
    </p>
  </div>

  <p>
    Descrição: <span>{{ tarefa.descricao }}</span>
  </p>

  <p>
    Data vencimento: <span>{{ tarefa.dataVencimento }}</span> Data atualização:
    <span>{{ tarefa.dataAtualizacao | date : "dd/MM/yyyy" }}</span>
  </p>
</article>

<div *ngIf="viewModal" class="modal-backdrop" (click)="viewModal = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h6>
      Tarefa {{ tarefa.taskId }} - {{ tarefa.status.toLowerCase() }}
      <span class="material-symbols-outlined icon" (click)="viewModal = false"
        >close</span
      >
    </h6>
    <form [formGroup]="taskForm">
      <label>
        Título:
        <input type="text" formControlName="titulo" />
      </label>

      <label>
        Descrição:
        <input type="text" formControlName="descricao" />
      </label>

      <label>
        Data de Vencimento:
        <input type="text" formControlName="dataVencimento" />
      </label>

      <label>
        Data de Criação:
        <input type="text" formControlName="dataCriacao" />
      </label>

      <label>
        Data de Atualização:
        <input type="text" formControlName="dataAtualizacao" />
      </label>

      <button type="submit">Salvar</button>
    </form>
  </div>
</div>
