<article
  (click)="
    viewModalTask.emit({ taskId: tarefa.taskId!, projetoId: tarefa.projetoId })
  "
  class="container-task"
>
  <div id="first-line">
    <p>
      Titulo: <span>{{ tarefa.titulo }}</span>
    </p>
    <span class="status" [ngClass]="'status--' + tarefa.status">{{
      tarefa.status.toLowerCase()
    }}</span>
    <p>
      Data criação: <span>{{ tarefa.dataCriacao | date : "dd/MM/yyyy" }}</span>
    </p>
  </div>

  <p>
    Descrição: <span>{{ tarefa.descricao }}</span>
  </p>

  <p>
    Data vencimento: <span>{{ tarefa.dataVencimento }}</span> Data atualização:
    <span>{{ tarefa.dataAtualizacao | date : "dd/MM/yyyy" }}</span>
  </p>
</article>
