.modal-content {
  background-color: #fff;
  border: 2px solid rgb(72, 121, 211);
  border-radius: 8px;
  padding: 24px;
  width: 400px;
  box-shadow: 0 0 12px rgba(87, 136, 226, 0.4);
  position: relative;
  font-family: Arial, sans-serif;
}

label {
  font-weight: bold;
  margin-right: 8px;
  display: block;
  margin-bottom: 4px;
}

select#status {
  padding: 8px 12px;
  font-size: 16px;
  width: 100%;
  max-width: 240px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg fill='gray' height='10' viewBox='0 0 24 24' width='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;

  cursor: pointer;

  &:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
  }

  &:disabled {
    background-color: #eaeaea;
    color: #999;
    cursor: not-allowed;
  }
}

h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: 20px;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 12px;
  color: #333;
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid rgb(0, 89, 255);
  border-radius: 4px;
  margin-top: 4px;
  outline-color: rgb(0, 89, 255);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: rgb(0, 89, 255);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 70, 200);
}

.icon {
  cursor: pointer;
  color: rgb(0, 89, 255);
}

.icon:hover {
  color: red;
}

.delete-btn {
  border: 1px solid red;
  background-color: white;
  color: red;

  &:hover {
    background-color: rgb(235, 126, 99);
  }
}
