<div class="modal-content" (click)="$event.stopPropagation()">
  <h6>
    Tarefa {{ task.taskId }}
    <span class="material-symbols-outlined icon" (click)="closeModal()"
      >close</span
    >
  </h6>
  <form [formGroup]="taskForm">
    <label>
      Título:
      <input type="text" formControlName="titulo" />
    </label>

    <label>
      Descrição:
      <input type="text" formControlName="descricao" />
    </label>

    <label>
      Data de Vencimento:
      <input type="text" formControlName="dataVencimento" />
    </label>

    <label>
      Data de Criação:
      <input type="text" formControlName="dataCriacao" />
    </label>

    <label>
      Data de Atualização:
      <input type="text" formControlName="dataAtualizacao" />
    </label>

    <label>
      Data de Atualização:
      <input type="text" formControlName="dataAtualizacao" />
    </label>
    <ng-container *ngIf="isEditing"
      ><label for="status">Status:</label>
      <select id="status" name="status" formControlName="status">
        <option value="PENDENTE">Pendente</option>
        <option value="EM_ANDAMENTO">Em andamento</option>
        <option value="CONCLUIDA">Concluído</option>
      </select></ng-container
    >

    <div class="actions">
      <button type="submit" (click)="enviar()">Salvar</button>
      <button type="submit" class="delete-btn" (click)="excluir()">
        Excluir
      </button>
    </div>
  </form>
</div>
